body{

font-family:Arial,sans-serif;

background:#f5f6fa;

padding:20px;

}


header{

text-align:center;

margin-bottom:30px;

}



h1{

color:#1565c0;

}



#ricerca,
select{

width:100%;

padding:15px;

font-size:18px;

border-radius:15px;

border:1px solid #ddd;

margin-bottom:20px;

}



.card{

background:white;

padding:20px;

border-radius:20px;

margin-bottom:15px;

box-shadow:0 3px 10px #ddd;

}



button{

background:#1565c0;

color:white;

border:0;

padding:12px 20px;

border-radius:12px;

font-size:16px;

}



audio{

width:100%;

}



.attiva{

background:#ffe082;

}



.testo{

white-space:pre-line;

font-size:18px;

line-height:1.5;

}



.indietro{

display:block;

margin-bottom:20px;

}
